@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
body {
    font-family: 'Roboto';
    font-size: 18px;
    color: #000;
}
.red-txt{
    color: #e9006b;
}
a{
    text-decoration: none;
}

.header-container {
    padding: 26px 0;
}
.header-container .header-menu{
    display: flex;
}
.header-container .breadcrumbs{
    display: flex;
    margin-top: 14px;
}

.header-menu .header-menu__item{
    position: relative;
    margin-right: 20px;
    border-bottom: 1px solid #414BB2;
    color: #414BB2;
}
.header-menu .header-menu__item.active,
.header-menu__item:hover{
    border-bottom: 1px solid #4ba7ef;
    color: #4ba7ef;
}


.breadcrumbs-wrapper{
    position: relative;
    padding-right: 46px;
    color: #919191;
}
.breadcrumbs .breadcrumbs-wrapper__item{
    position: relative;

}
.breadcrumbs-wrapper:not(:last-child)::after,
.left-block_wrapper .user-block__name::after{
    content: '';
    position: absolute;
    top: 9px;
    right: 19px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #878787;
    border-right: 3px solid #878787;
    transform: rotate( 
45deg);
    
}
.left-block_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-btn{
    background-color: #414BB2;
    border: 1px solid #414BB2;
    padding: 11px 19px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}
.custom-btn:hover{
    background-color: initial;
    color: #414BB2;
}
.left-block_wrapper .custom-btn{
    margin-right: 10px;
}
.left-block_wrapper .user-block__name{
    position: relative;
    padding-right: 22px;
    font-size: 16px;
    color: #000;
}
.left-block_wrapper .user-block__name::after{
    right: 0;
    top: 7px;
}
.header-container .logo-wrapper {
    margin-right: 50px;
}
.header-container .header-logo{
    max-width: 120px;
    max-height: 60px;
}
.user-block{
    display: flex;
    align-items: center;
}
.user-block .user-block__foto{
    width: 29px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 15px;
}
.user-block .user-block__foto img{
    width:100%;
  height:100%;
  object-fit: cover;
}

.container-fluid{
    margin-top: 70px;
}
.main-block__title{
    font-weight: 600;
    font-size: 28px;
    padding: 0;
}

.item-block {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.item-block a{
    text-decoration: underline;
}
.item-block .item-card, 
.graphs-block{
    margin-top: 30px;
    background: #F7F7F7;
    border-radius: 8px;
    padding: 28px;
    padding-bottom: 0;
}
.graphs-block.col-7{
    width: 62.333333%;;
}
.item-block .item-card{
    margin-right: 40px;
}
.item-block .item-card__title,
.graphs-block__title{
    font-weight: 600;
    margin-bottom: 17px;
}
.graphs-block__btn__last-mounth{
    background: none;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #D0D1D2;
}
.item-card__about-item{
    display: flex;
    margin-top: 15px;
}
.item-card .item-card__title,
.graphs-block__title{
    font-size: 24px;
}
.item-card__about-item .item-card__about-item__img{
    max-width: 150px;
    margin-right: 20px;
}
.item-card__about-item .item-card__about-item__img img{
    width: 100%;
    height: 100%;
}
.item-card__about-item .item-card__about-item__info p{
    margin-bottom: 2px;
}
.item-card .collections-block{
    margin-top: 25px;
}
.item-card .collections-block .collections-block__title{
    margin-bottom: 2px;
}
.item-card .collections-block .collections-block__items input{
    padding: 3px 20px;
    background: none;
    border-radius: 20px;
    border: 1px solid #000;
    font-size: 11px;
}
.item-card__text-wrapper {
    margin-top: 17px;
}
.item-card__filter-block{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 12px;
}

.item-card__filter-block .btn-check:focus+.btn-secondary, 
.btn-secondary:focus, 
.btn-secondary, 
.btn-secondary:hover{
    color: #000;
    background-color: #fff;
}
.item-card__filter-block .filter-label{
    margin: 0;
    margin-right: 20px;
}
.collections-block .collections-block__props{
    margin-top: 10px;
}
.collections-block .collections-block__props p{
    margin-bottom: 5px;
}
.graphs-block h3.graphs-block__title,
.graphs-block__question {
    display: inline;
}
.graphs-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.graphs-block__btn__show-more{
    background: #FFFFFF;
    border: 1px solid #ECE9F1;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    padding: 0 4px;
}
.graphs-block .graphs-block__question svg {
    margin-top: -7px;
}
.graphs-block .graphs-block__filter{
    display: flex;
    flex-wrap: wrap;
}
.graphs-block .graphs-block__filter .form-switch{
    margin-right: 24px;
}
.graphs-block .graphs-block__filter .form-switch label{
    font-size: 17px;
}
.graphs-block .graphs-block__filter .form-switch input{
    width: 1.5em;
    height: 0.8em;
    margin-top: 0.39em;
    margin-left: -2em;
}
.graphs-block .graphs-block__filter .form-switch input:checked{
    background-color: #414BB2;
    border-color: #414BB2;
}
.graphs-block .graphs-block__filter .form-switch input:focus{
    box-shadow: none;
}
.graphs-block__info{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 34px;
}
.graphs-block__info .graphs-block__info__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}
.graphs-block__info__item p{
    font-size: 14px;
}
.graphs-block___info__value {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.my-product{
    display: flex;
    background: #F7F7F7;
    border-radius: 8px;
    padding: 28px;
    margin-top: 20px;
}
.my-product .my-product__img{
    max-width: 150px;
    max-height: 150px;
}
.my-product  p.my-product__title {
    font-size: 16px;
    color: #414BB2;
    text-decoration-line: underline;
    margin-bottom: 12px;
}
.my-product  p.my-product__title.green-txt{
    color: #8FD14F;
}
.my-product__props-wrap .my-product__prop {
    display: flex;
    align-items: center;
}
.my-product__prop .right-prop{
    margin-right: 45px;
}

.my-product .my-product__props-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.my-product__prop p{
    margin-bottom: 0;
}
.my-product__prop p.prop-value{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #3C435A;
}
.my-product__prop p.raiting-1,
.my-product__prop p.raiting-2,
.my-product__prop p.raiting-3{
    position: relative;
    padding-left: 9px;
}
.my-product__prop p.raiting-1::before,
.my-product__prop p.raiting-2::before,
.my-product__prop p.raiting-3::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    bottom: 3px;
    /* right: 5px; */
    left: -9px;
}
.my-product__prop p.raiting-1::before{
    background-color: #009343;
}
.my-product__prop p.raiting-2::before{
    background-color: #f1bd00;
}
.my-product__prop p.raiting-3::before{
    background-color: #e50000;
}
.my-product__props-container{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.my-product .row {
    justify-content: space-between;
}
.my-product .my-product__btn-wrap{
    display: flex;
    align-items: end;
}
.my-product__btn-wrap input[type="button"] {
    padding: 9px 39px;
    margin: 0 auto;
}

.sales-data__header-block{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.sales-data__right-block{
    display: flex;
    align-items: center;
}
.sales-data__right-block h1{
    margin: 0;
    margin-right: 16px;
}
.sales-data__header-block button{
    background: #F3F7FB;
    border-radius: 8px;
    border: 1px solid #F3F7FB;
    color: #414BB2;
    padding: 10px 16px;
}
.sales-data__header-block button:hover{
    border: 1px solid #414BB2;
}
.sales-data__header-block .header-block__filter{
    display: flex;
}
.header-block__filter .dropdown svg{
    margin-top: -3px;
}
.header-block__filter  .dropdown-toggle::after{
    content: none;
}
.header-block__filter .dropdown:first-child{
    margin-right: 15px;
}
.sales-data__wrapper{
    padding: 0;
}
.sales-data__wrapper tbody, td, tfoot, th, thead, tr{
    border-style: none !important;
}
.sales-data__table th{
    color: #919191;
    font-size: 15px;
    font-weight: 400;
}
.sales-data__wrapper {
    margin-top: 31px;
}


/* Сompilation */

section.container-fluid.main-block {
    margin-top: 0;
}

.main-block__header{
    display: flex;
    justify-content: space-between;
}
.main-block__header form{
    border: 1px solid #B3B8E7;
    border-radius: 8px;
    max-height: 40px;
    padding-right: 4px;
    padding-left: 12px;
}

.main-block__header form input,
.main-block__header form input:focus,
.main-block__header form input:focus-visible{
    border: none;
    outline: none;
}
.main-block__header form input{
    margin: 0 55px 0 12px;
    width: 223px;
}
.main-block__header form button{
    background: #F3F7FB;
    border-radius: 8px;
    color: #414BB2;
    padding: 5px 14px;
}

.main-block__header form input::placeholder {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #A4A9B5;
}

.item-card__about-item__info__table th{
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: #3C435A;
    padding-bottom: 15px;
}
.item-card__about-item__info__table th:first-child{
    padding-right: 61px;
}
.item-card__about-item__info__table th:nth-child(2n){
    font-weight: 600;
}

.sales-data__table td img.my-product__img {
    max-width: 32px;
}
.sales-data__table .txt-gray{
    color: #A4A9B5;
}
.sales-data__sorting-btn{
    border: none;
    outline: none;
    background: none;
    margin-top: -2px;
}
th.col-with-btn{
    width: 115px;
}
